*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100%;
    height: 215vh;
}

#menu{
    display: none;
}

#mode:hover{
    cursor: pointer;
    
}


.spotlight{
    display: none;
}

.header{
    background-color:#003366;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

:where(.logo) :is(img){
    height: 13vh;
}

nav{
    width: 40%;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li a{
    text-decoration: none;
    color: whitesmoke;
    font-family: calibri;
    font-size: 1.4rem;
    font-weight: 800;
}

li a:hover{
    color:rgba(191, 174, 174, 0.826);
}


/* This is styling for the Main */

main {
    width: 100%;
    min-height: 200vh;
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 1fr;
    column-gap: 1vw;

}

.sidebar{
    grid-column: span 1;
    border: 1px solid black;

}

.imageGallary{
    grid-column: span 1 ;
    border: 1px solid black;
}

.imageGallary img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px  black;
}

.layout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10vh 1fr 1fr 1fr 10vh 1fr 1fr;
    row-gap: 1vh;

}

.Demography{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid black;
}


.Demography img{
    width: 90%;
    height: 50%;    
}

.Demography h2{
    font-family: Gabriola;
    font-size: 2em;
    color:rgb(61, 60, 60);
}

.Event{
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.Event h2{
    font-family: Gabriola;
    font-size: 2em;
    padding-bottom:1rem;
    color:rgb(61, 60, 60);
}

.Event img{
    width: 90%;
    height: 50%;
}

.Event p{
    font-size: 1.2rem;
    font-family: calibri;
    text-align: center;
    padding: 1rem 1rem;
}

.Attractions{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.Attractions h2{
    font-family: gabriola;
    font-size: 2.5em;
    color: rgb(79, 75, 75);
}

.Attractions p{
    font-size: 1em;
    font-family: calibri;
    text-align: center;
   
}

.StatisticaData{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.StatisticaData h2{
    font-family: Gabriola;
    font-size: 1.5em;
}

.StatisticaData img{
    width: 90%;
    height: 50%;    

}


.Calender{
grid-column: span 1;
grid-row: span 2;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
border-bottom: 1px solid black;

}

.Calender h2{
    font-family: Gabriola;
    font-size: 2.5em;
    color:rgb(61, 60, 60);
}

.Calender img{
    width: 60%;
    height: 50%;   
}

.Place {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.Place h1{
    font-family: Gabriola;
    font-size: 2.5em;
    color:rgb(61, 60, 60);
}

.Place img{
    width: 80%;
    height: 70%;   
}


.imageLayoutOne{
    grid-column: span 1;
    grid-row: span 2;

}

.imageLayoutTwo{
    grid-column: span 1;

}



/* This is styling for the Footer section */

footer{
    width: 100%;
    height: 30vh;
    margin-top: 1rem;
    background-color:#003366;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.social img{
    background-color: #ffffff8e;
}

.addresses{
    display: flex;
    justify-content: center;
    align-items: center;
}


.addresses p{
    font-size: 1.2rem;
    font-family: Agency FB;
    padding: 0.5rem;
    color: white;
}

.copywrite p{
    padding-left: 3rem;
    padding-top: 0.8rem;
    font-size: 1.1rem;
    color: white;
    font-family: Agency FB;


}


@media screen and (max-width: 780px) {

    main {
        width: 100%;
        min-height: 200vh;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 260vh 1fr;
        row-gap: 3vh;

    }

    .sidebar{
        grid-column: span 1;
        grid-row: span 1;
        row-gap: 2vh;


    }

    .imageGallary{
        grid-column: span 1 ;
        grid-row: span 1;
    }

    .layout{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 10vh 1fr 1fr 1fr 10vh 1fr 1fr;
        row-gap: 2vh;

    }

    .Demography{
        grid-column: span 1;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 1px solid black;
    }


    .Event{
        grid-column: span 1;
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .Event p{
        font-size: .9rem;
    }
    

    .Attractions{
        grid-column: span 1;
        grid-row: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .Attractions h2{
        font-size: 2em;
    }

    .Attractions p{
        font-size: .9em;
       
    }

    .StatisticaData{
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
    }

    .StatisticaData img{
        width: 90%;
        height: 50%;    

    }

    .Calender{
        grid-column: span 1;
        grid-row: span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
    
    }

    .Place {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid black;
    }


    
    .imageLayoutOne{
        grid-column: span 1;
        grid-row: span 2;
       

    }

    .imageLayoutTwo{
        grid-column: span 1;

    }



  
    footer{
        width: 100%;
        height: 70vh;
        margin-top: 1rem;
        background-color:rgb(130, 123, 123);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .social img{
        height: 15vh;
    }



    
     #menu{
        display: block;
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 3px 7px 6px;
        background-color:transparent;
        color: #000;
        position: absolute;
        top: 10px;
        right: 10px;
    }


    #menu::before {
        content: "☰";
    }
    #menu.show::before{ 
        content: "X";
    }

    
    .navigation {
        position: absolute;
        top: 15vh;
        right: 0;
        background-color: #003366;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
    
    }


 
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }

    .navigation li a:hover{
        border: 0px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
  

}


@media screen and (max-width: 430px) {


   

}